body{
    background-color: #303F9F;
    color: #FFFFFF;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100vh; /* Asegura que el body tome el 100% de la altura de la ventana */
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    background-color: #C5CAE9;
    color: #212121;
    box-shadow: 0px 0px 15px -1px rgba(201,201,201,1);

}
.detail-row {
    margin: 10px 0;
    padding: 8px;
    border-bottom: 1px solid #eee;
}
.label {
    font-weight: bold;
    color: #555;
    width: 120px;
    display: inline-block;
}

.btn {
    text-decoration: none;
    color: #555;
    border-radius: 10px;
    padding: 8px;
    font-family: inherit; /* Hereda la fuente del padre */
    font-size: inherit; /* Hereda el tamaño de fuente del padre */
    display: inline-block; /* Importante para que el <a> se comporte como el input */
    background: none;
    border: none;
    cursor: pointer;
    min-width: 0.75rem;
    text-align: center !important;
    user-select: none;
}

/* Si notas que el input tiene un tamaño diferente, puedes agregar: */
input.btn {
    appearance: none; /* Elimina la apariencia por defecto del input */
    -webkit-appearance: none;
    -moz-appearance: none;
}

.btn:hover, input.btn:hover{
    background-color: #BDBDBD;
}

.left {
    text-align: left;
    margin-right: auto;
}

.center {
    text-align: center;
    justify-items: center;
}

.h-center{
    align-items: center;
}

.right {
    margin-left: auto;
    text-align: right;
}


.botonera{
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}

/*excluye a los inputs que tengan la clase .btn o sean checkbox */
input:not(.btn):not([type="checkbox"]),
select{
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}


textarea {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    min-height: 100px;
}

.mensaje {
    margin: 20px 0;
    line-height: 1.5;
    font-size: 16px;
}



.btn-add {
    background-color: #303F9F;
    color: white;
    border: none;
}

.btn-add:hover {
    background-color: #3F51B5;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    max-height: 450px !important;
    overflow-y: hidden !important;
}

.table-container {
    max-height: 400px;
    overflow-y: auto;
}


thead th {
    background-color: #3F51B5;
    color: white;
    font-weight: bold;
}

th, td {
    padding: 12px 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: #f5f5f5;
}

.actions {
    display: flex;
    gap: 10px;
}

.btn-ver {
    background-color: #4CAF50;
    color: white;
    border: none;
}

.btn-ver:hover {
    background-color: #45a049;
}

.btn-editar {
    background-color: #FFC107;
    color: black;
    border: none;
}

.btn-editar:hover {
    background-color: #ffb300;
}

.precio {
    text-align: right;
}

.stock{
    font-weight: bold;
}

.stock-ok{
    color: #4CAF50;
}

.stock-bajo{
    color: #FFC107;
}

.stock-sin-stock{
    color: #f44336;
}

.menu-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 300px;
    margin: 0 auto;
}

.menu-btn {
    padding: 15px;
    text-align: center;
    background-color: #3F51B5;
    color: white;
    border-radius: 5px;
}

.menu-btn:hover {
    background-color: #303F9F;
}

.menu-title {
    text-align: center;
    margin-bottom: 20px;
}

nav {
    height: 50px;
    background-color: #1b365d; /* Color azul más oscuro */
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

nav .btn {
    font-size: 16px;
    font-weight: bold;
    color: #e1e4f4; /* Color blanco con tinte azul */
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

nav .btn:hover {
    background-color: #2c5282; /* Color azul más claro al pasar el mouse */
}

nav .btn:not(:last-child) {
    margin-right: 10px;
}


.btn-filter, .btn-add-aticulo {
    background-color: #1E90FF;
    color: white;
}

.btn-filter{
    text-align: center !important;
}

.btn-add-aticulo:hover, .btn-filter:hover {
    background-color: #1C86EE;
    transform: scale(1.1);
}

.btn-sub-aticulo {
    background-color: #FF6347;
    color: white;
}

.btn-sub-aticulo:hover {
    background-color: #FF4500;
    transform: scale(1.1);
}

.center {
    text-align: center;
    justify-items: center;
}

.h-center{
    align-items: center;
}

.col{
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
    flex-direction: row;
}

.disable{
    background-color: #8f8f8f;
}
.disable:hover{
    background-color: #474B4E;
}

.label-espacio{
    width: 7.5rem;
    display: inline-block;
}
